bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.env
.DS_Store
.agents
.idea/.idea.Tesseract/.idea/*
!.idea/.idea.Tesseract/.idea/vcs.xml
!.idea/.idea.Tesseract/.idea/indexLayout.xml
matrix-docs.md
AGENTS.md
skills-lock.json
# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Tesseract.iml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
